<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ username }}'s lobby</title>
</head>
<body>
    <div>
        <form id="creation">
            <input type="button" id="create_room" name="create_room" value="Create room"> 
        </form>
    </div>
    <h2>
        Available rooms:
    </h2>
    <div id="rooms">
        {% for room in g.rooms %}
        <div class="room">
            <a href="/room/{{ room.name }}">{{ room.name }}</a>
        </div>
        {% endfor %}
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="{{ url_for('static', filename='socket.io.js') }}"></script>
<script>
    $(function () {
        let socket = io();

        $('#create_room').click(function() {
            $('#create_room').remove();

            $('#creation').append($('<input>', {
                id: 'room_name',
                type: 'text',
                placeholder: 'Enter room name here...'
            })).append($('<input>', {
                type: 'submit',
                id: 'confirm_room',
                name: 'confirm_room',
                val: 'Create!'
            }));
        });

        $('#creation').submit(function(e) {
            socket.emit('create_room', $('#room_name').val());

            $('#room_name').remove();
            $('#confirm_room').remove();
            $('#creation').append($('<input>', {
                type: 'button',
                id: 'create_room',
                name: 'create_room',
                value: 'Create room'
            }));
        });

        // Handle get rooms event
        socket.on('get_rooms', function(rooms_names) {
            console.log(rooms_names);
            $('#rooms').children().remove();

            for(let room_name of rooms_names) {
                $('#rooms').append($('<div>', {
                    class: 'room'
                })).append($('a', {
                    href: `/room/${room_name}`,
                    text: room_name
                }));
            }
        });
    });
</script>
</html>