<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="chat.css">
    <title>{{ room_name }}</title>
</head>
<body>
    <div class="chat">
        <div class="messages">
            {% for message in g.rooms_messages %}
            <div class="message">{{ message }}</div>
            {% endfor %}
        </div>
        <div class="text_editing">
            <form method="POST">
                <div class="message_text">
                    <input type="text" name="message" value="" placeholder="Enter text message...">
                </div>
                <div class="send_message">
                    <input type="submit" value="send" name="send_message">
                </div>
            </form>
        </div>
    </div>
</body>
</html>