<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ username }}'s lobby</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div>
        <form id="room_creation" method="POST" action="/room/">
            <input type="text" name="room_name" id="room_name">
            <input type="submit" id="create_room" name="create_room" value="Create room"> 
        </form>
    </div>
    <h2>
        Available rooms:
    </h2>
    <div id="rooms">
        {% for room in g.rooms %}
        <div class="room">
            <a href="/room/{{ room }}">{{ room }}</a>
        </div>
        {% endfor %}
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="{{ url_for('static', filename='socket.io.js') }}"></script>
<script>
    $(function() {
        // Handle get rooms event
        socket.on('rooms_update', function(rooms) {
            console.log(rooms);
            $('#rooms').children().remove();
            for(let name of rooms) {
                $('#rooms').append($('<div>', {
                    class: 'room'
                })).append($('<a>', {
                    href: `/room/${name}`,
                    text: name
                }));
            }
        });
    });
</script>
</html>