<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chat.css') }}">
    <title>{{ room_name }}</title>
</head>
<body>
    <div class="chat">
        <ul class="messages">
            {% for message in g.rooms_messages %} 
            <li class="message">{{ message }}</li>
            {% endfor %}
        </ul>
        <div class="text_editing">
            <form method="POST">
                <div id="message_text">
                    <input type="text" id="message" name="message" value="" placeholder="Enter text message...">
                </div>
                <div id="send_message">
                    <input type="submit" value="send" name="send_message">
                </div>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="{{ url_for('static', filename='socket.io.js') }}"></script>
<script>
    $(function () {
        let socket = io();

        // Send message
        $('form').submit(function(e) {
            e.preventDefault();
            socket.emit('chat_message', $('#message').val());
            $('#message').val('');
            return false;
        });


        // Processing message
        socket.on('chat_message', function(message) {
            $('.messages').append($('<li>').text(message));
        });

    });
</script>
</html>